@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {



    body {
        background-color: #EAE3CD;
    }

    * {
        color: #353C42;
        font-family: "roboto", sans-serif;
    }
}

@layer components {
    .spinner {
        width: 30px;
        height: 30px;
        position: relative;
        margin: -0.3rem auto;
    }

    .spinner::before,
    .spinner::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border: 3px solid transparent;
        border-top-color: #fff;
        animation: spin 1s linear infinite;
    }

    .spinner::after {
        animation-delay: 0.5s;
    }

    .small-spinner {
        width: 28px;
        height: 28px;
        position: relative;
    }

    .small-spinner::before,
    .small-spinner::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border: 3px solid transparent;
        border-top-color: #C86B7B;
        animation: spin 1s linear infinite;
    }

    .small-spinner::after {
        animation-delay: 0.5s;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}